.container {
  display: flex;
  background-color: var(--banner-background);
  height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 5;
  border: 1px solid var(--primary);
  border-radius: 4px;

  .item {
    display: flex;

    .itemValue {
      color: var(--primary);
      font-weight: 400;
      margin-left: 5px;
    }

    .text {
      font-size: 1.2rem;
    }
  }
}

.exitBtn {
  background-color: var(--error-medium);
}
