.boxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 20px;
  height: 56px;
}

.link {
  color: var(--poper-color);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: var(--sidebar-hover);
  }
}

.current {
  color: var(--white-gray);
  font-weight: 500;
}
