.container {
  padding: 20px 22px;

  .noticeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 20px;
}

.desc {
  margin-bottom: 20px;
}

.noticeItem {
  display: flex;

  .name {
    margin-right: 5px;
  }

  .value {
    font-weight: 600;
    color: var(--error-deep);
  }

  .required {
    color: var(--primary);
  }
}
