.container {
  background-color: #3d3d3d;
  padding: 20px;
  margin: 10px 0;
}

.title {
  font-size: 24px;
  color: var(--white);
}

.desc,
.file {
  color: var(--white);
  font-size: 18px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  height: 550px;
  width: 100%;
}

.image {
  display: block;
  height: 100%;
  max-width: 100%;
  width: -webkit-fill-available;
  object-fit: contain;
}
