.container {
  height: 110px;
  width: 100%;
  background-color: var(--primary-surface);
  border-bottom: 3px solid var(--primary-light);
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 345px;
  height: 100%;
  background-color: var(--primary-surface);
}

.logoWrapper {
  max-width: 345px;

  &:hover {
    cursor: pointer;
  }
}

.logo {
  height: 60px;
  color: var(--text);
}

.search {
  display: flex;
  max-width: 710px;
  height: 50px;
  width: 100%;
  margin: 0 30px;
}

.searchWrapper {
  flex: 1;
}

.searchWrapper {
  flex: 1;
}
