.container {
  height: 100%;
  background-color: var(--primary-background);
  padding: 0 20px 20px 20px;
}

.link {
  color: var(--text);
  text-decoration: none;

  &:hover {
    color: var(--text);
  }
}
.text,
.breadcrumb {
  color: var(--text);
}

.subjectWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--primary-light);
}

.subjectName {
  color: var(--text);
  font-weight: 600;
  font-size: 20px;
}

.addIcon {
  font-size: 36px;
  color: var(--text);
  cursor: pointer;
}

.examList {
  margin: 16px -10px;
  display: flex;
  flex-wrap: wrap;
}

.paging {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
