@import "normalize.css";
@import "styles/palette.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
  --font-family: "roboto", "IBM Plex Sans", sans-serif;

  --primary: #00ab55;
  --primary-light: #68f19136;
  --primary-icon: #fff;
  --primary-container: #f2f6fc;
  --primary-surface: #f7f9fc;
  --primary-hover: rgba(0, 171, 85, 0.078);
  --primary-lighter: rgba(145, 158, 171, 0.078);
  --primary-lightest: rgba(145, 158, 171, 0.039);
  --primary-darker: rgba(0, 171, 85, 0.2);
  --primary-darkest: rgba(0, 171, 85, 0.4);
  --primary-background: #ffffff;
  --text: #161823;
  --banner-background: #faebd7;

  --warning: #f3a638;

  // Light
  // Pale
  // Pastel
  // Medium
  // Deep
  // Dark

  --secondary-icon: #444746;
}

[data-theme="dark"] {
  --primary-background: #161819;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: overlay;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
