.searchInput {
  flex: 1;
  background-color: #38383a;
  border: none;
  outline: none;
  padding-left: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
}
.searchBtn {
  border-radius: 0px;
  width: 66px;
  height: 50px;
  border-color: #202229;
}
