.container {
  background-color: var(--primary-background);
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}

.examName {
  color: var(--text);
  font-size: 2.6rem;
  margin-bottom: 38px;
}

.space {
  margin-left: 5px;
}

.exam-container {
  display: flex;
  column-gap: 8px;
  position: relative;
}
.question-manage {
  position: sticky;
  top: 0;
  max-height: 600px;
}

.exam-wrapper {
  width: 100%;
}
