.container {
  background-color: var(--primary-container);
  width: 297px;
  min-height: 177px;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 18px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 12px;
}

.subjectName {
  font-size: 14px;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.description {
  font-size: 12px;
  line-height: 15px;
  color: var(--text);
}

.continueBtn {
  background-color: var(--primary);
  margin-top: 10px;

  &:hover {
    box-shadow: 0px 0px 8px var(--primary);
  }
}
