.container {
  width: 100%;
  height: 250px;
  background-color: var(--primary-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  height: 200px;
  background-color: var(--banner-background);
  position: relative;
  margin: auto;
}

.bannerImg {
  position: absolute;
  top: 20px;
  left: 174px;
}

.img {
  width: 192px;
  height: 161px;
}
