.container {
  display: flex;
  flex-direction: column;
  background-color: #817d7d;
  padding: 10px;
  border-radius: 8px;
  margin-top: 14px;
  width: 100%;
}

.formItem {
  margin: 6px 0;
}

.input {
  color: #000;
  background-color: #fff;
  border-radius: 8px;
}
