.container {
  background-color: var(--primary-background);
  width: 100%;
  padding: 0 20px 20px 20px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 40px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.helpIcon {
  color: var(--text);
  cursor: pointer;

  &:hover {
    color: var(--warning);
  }
}

.title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  color: var(--text);
}

.description {
  padding: 20px 0;
}

.description,
.schoolYear {
  color: var(--text);
}

.descWrapper {
  display: flex;
  color: var(--text);
}

.highlight {
  color: var(--primary);
  font-weight: 600;
  margin-left: 5px;
}

.titleName,
.highlight,
.schoolYear,
.description {
  font-size: 1.2rem;
  font-weight: 400;
}

.content {
  margin-top: 36px;
}

.notification {
  padding: 4px 12px;
  margin-bottom: 8px;
  background-color: var(--warning);
}
