.container {
  background-color: var(--primary-background);
  padding: 0 20px 20px 20px;
}

.wrapperTitle {
  padding: 12px 20px;
  background-color: var(--primary-light);
}

.titleName {
  color: var(--text);
  font-weight: 600;
  font-size: 20px;
}

.documentList {
  margin: 16px 10px;
  display: flex;
  flex-wrap: wrap;
}

.examContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.examList {
  margin: 16px 10px;
  display: flex;
  flex-wrap: wrap;
}

.examWrapper {
  margin-top: 30px;
}

.paging {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
