:root {
  --white-color: #fff;
  --bgc-sidebar-color: #242529;
  --bgc-hover-color: #92acce;
}
.button {
  background-color: #242529;
  color: var(--white-color);
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid var(--white-color);
  font-size: 18px;
  column-gap: 18px;
  &:hover {
    background-color: var(--bgc-hover-color);
    color: #000;
  }
  span {
    line-height: 24px;
  }
}
.container {
  background-color: var(--bgc-sidebar-color);
  height: calc(100vh - 107px);
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  position: relative;
  transition: all 0.1s ease;
}
.close-sidebar__icon {
  color: var(--white-color);
  position: absolute;
  top: 0px;
  right: 18px;
  cursor: pointer;
}
.active {
  color: #000;
  background-color: var(--bgc-hover-color);
}
