.container {
  width: 345px;
  height: auto;
  min-height: calc(100vh - 110px);
  background-color: var(--brown-bg);
  display: flex;
}

.container.close {
  width: 84px;
  transition: all 0.22s linear;
}

.contain {
  padding-top: 28px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navigate {
  border: 2px solid var(--white);
  margin: 8px 20px;
  padding: 12px 20px;
  color: var(--white);
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--sidebar-hover);
    color: var(--black);
  }

  &.close {
    margin: 8px 7px;
  }
}

.navigate.active {
  background-color: var(--sidebar-hover);
  color: var(--black);
}

.name {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;

  &.close {
    display: none;
  }
}

.divisionLine {
  height: 100%;
  width: 3px;
  background-color: var(--division-line);
  position: relative;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 10px;
    z-index: 1;
  }

  &:hover {
    cursor: ew-resize;
    box-shadow: var(--blue-shadow) 0px 0px 8px;
    background-color: var(--blue-shadow);
  }

  .iconWrapper {
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: var(--brown-shadow) 0 0 5px;
    cursor: pointer;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    z-index: 3;

    &:hover {
      background-color: var(--blue-shadow);
    }

    &:hover .arrowIcon {
      color: var(--white);
    }
  }

  .arrowIcon {
    color: var(--black);
    font-size: 16px;
  }
}
