.container {
  width: 188px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.question-position-wrapper {
  color: var(--text);
  border: 1px solid var(--primary);
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  padding: 6px;
  border-radius: 4px;
  & div:hover {
    cursor: pointer;
  }
}

.position-done-question {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  border: 1px solid var(--primary);
}

.position-question {
  width: 30px;
  height: 30px;
  border: 1px solid var(--error-deep);
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.examItem {
  display: flex;
  max-width: 100%;
}

.nameItem {
  font-size: 16px;
  color: var(--text);
  margin-right: 4px;
}

.highlight {
  font-size: 16px;
  color: var(--primary);
}

.exam-info-wrapper {
  border: 1px solid var(--primary);
  padding: 6px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  row-gap: 6px;
}
