.container {
  padding: 20px;
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto auto;
  column-gap: 30px;
}

.paper {
  max-width: 360px;
  padding: 60px 60px 40px 60px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & .cardDesc {
    font-size: 0.8rem;
    margin-bottom: 20px;
    margin-top: 16px;
    color: rgb(99, 115, 129);
    text-align: center;
  }
}

.imgWrapper {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  border: 2px dashed #000;
  padding: 12px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;

  & .statusTitle {
    font-size: 1rem;
    margin-right: 12px;
  }
}

.formWrapper {
  flex: 1;
}

.paperWrapper {
  width: 100%;
  padding: 20px;
  background: var(--primary-container);
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  align-items: center;

  & .formItem {
    width: 100%;
  }
}

.subForm {
  width: 360px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  & .subPaper {
    width: 100%;
    padding: 20px;
    background: var(--primary-container);

    & .subFormItem {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

.label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.btnSubmitForm {
  width: 100%;
  background-color: var(--primary);
  box-shadow: 0px 0px 3px var(--primary);
  &:hover {
    opacity: 0.9;
  }
}

.documentContent {
  color: var(--text);
}
