.container {
  background-color: var(--primary-background);
  padding: 0 22px;
}

.documents {
  display: flex;
  margin-top: 15px;
}

.documentTitle {
  font-size: 20px;
  color: var(--text);
  font-weight: 500;
}

.document {
  display: flex;
  background-color: var(--primary-container);
  width: 297px;
  height: 177px;
  padding: 12px;
  margin-right: 16px;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 12px;
}

.star {
  width: 21px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.documentName {
  font-size: 1.1rem;
  margin-top: 32px;
  color: var(--text);
}

.dateTime {
  font-size: 0.8rem;
  color: var(--text);
  padding: 10px 0;
}
