.container {
  border-radius: 6px;
  background-color: var(--primary-container);
  border: 1px solid var(--text);
  width: 270px;
  height: 48px;
  margin: 10px;

  &:hover {
    box-shadow: var(--primary) 0 0 10px;
  }
}

.link {
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 14px;
  text-decoration: none;
}

.image {
  width: 32px;
}

.contentWrapper {
  display: flex;
  align-items: center;

  .subjectName {
    font-size: 16px;
    margin-left: 8px;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
